.product-area{
    width: 1450px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    background: #b78bffe8;
    padding: 30px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}